@charset "UTF-8";

* {
    margin: 0;
    padding: 0;

}

body{

    background-image: linear-gradient(to left, rgba(0, 0, 255, 0.353), rgba(0, 0, 0, 0.37));

}

img {
    float: left;
    height: 300px;
    width: 300px;
    border-radius: 10%;
    margin: 20px;
}

h1 {
    padding: 20px;
}

form > p,  input {
    padding: 5px;

}


